*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("http://fonts.cdnfonts.com/css/nasalization-2");
.gallery-section{
  width: 100%;
  padding: 60px 0;
  background: url(../images/bg13.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.team-item img {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
}
.team-item img {
  float: left;
  filter: grayscale(30%);
  -webkit-filter: grayscale(30%);
  -moz-filter: grayscale(30%);
}
.team-item:hover img {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}

.team-item:hover h5 {
  color: #ffff;
}


h1{
  color: #fff !important;
}

.team-item h5{
  color: #2e86c1;
}

.text-span{
  color: #fff !important;
}

.team-item:hover .team-img .team-social {
    transition-delay: .3s;
    opacity: 1;
}

.team-item .team-social .btn {
    display: inline-flex;
    margin: 0 3px;
    color: var(--primary);
    background: var(--dark);
}

.team-item .team-social .btn:hover {
    color: #FFFFFF;
    background: var(--primary);
}

.extra{
  left: 490px;
}

@media screen and (max-width:960px) {
  .extra{
    left: 200px;
  }
}

@media screen and (max-width:768px) {
  .extra{
    left: 0px;
  }
}

.inner-width{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.gallery-section h1{
  text-align: center;
  text-transform: uppercase;
  color: #333;
}

.border{
  width: 180px;
  height: 4px;
  background: #fff;
  margin: 60px auto;
}

.gallery-section .gallery{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.gallery-section .image{
  flex: 25%;
  overflow: hidden;
  padding: 10px;
  cursor: pointer;
}

.gallery-section .image img{
  width: 100%;
  height: 100%;
  transition: 0.4s;
}

.gallery-section .image:hover img{
  transform: scale(1.4) rotate(15deg);
}

@media screen and (max-width:960px) {
  .gallery-section .image{
    flex: 50%;
  }
}

@media screen and (max-width:768px) {
  .gallery-section .image{
    flex: 50%;
  }
}

@media screen and (max-width:480px) {
  .gallery-section .image{
    flex: 50%;
  }
}

@media screen and (max-width:990px) {
  #mentor{
    right: 170px;
  }
}

@media screen and (max-width:768px) {
  #mentor{
    left: 10px;
  }
}

@media screen and (min-width:990px){
  #mentor{
    left: 150px;
  }
}



